@charset "UTF-8";
.main {
  padding: 95px 0 0 0;
}
.main .main-wrapper {
  background: url("/images/img/main.jpg") center center/cover no-repeat;
  padding: 82px 0 57px 0;
}
.main .main-wrapper .header-button h1 {
  max-width: 320px;
  margin: 0 auto;
  text-align: center;
  color: #345C74;
  text-transform: capitalize;
  font-weight: 800;
  font-size: 24px;
  line-height: 30px;
}
.main .main-wrapper .header-button button {
  width: 166px;
  color: #FFFFFF;
  font-size: 16px;
  background: #006B94;
  padding: 12px 0;
  border-radius: 7px;
  display: flex;
  justify-content: center;
  margin: 25px auto 0 auto;
}

.categories .wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.categories .wrapper .header-different {
  min-width: 100%;
  margin-bottom: 25px;
}
.categories .wrapper .item {
  max-width: 408px;
  width: 100%;
  height: 57px;
  background: #006B94;
  box-shadow: 0 4px 14px rgba(130, 118, 255, 0.25);
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 18px;
  color: #FFFFFF;
  line-height: 19px;
}

.services .wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}
.services .wrapper .item {
  position: relative;
  margin-top: 11px;
  width: 100%;
  height: 299px;
}
.services .wrapper .item img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.services .wrapper .item p {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: #FFFFFF;
  top: 60px;
  text-align: center;
}

.our-workers .wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.our-workers .wrapper .item {
  max-width: 620px;
  width: 100%;
  height: 260px;
  margin: 11px auto 0 auto;
  position: relative;
  display: flex;
  justify-content: center;
}
.our-workers .wrapper .item:before {
  position: absolute;
  padding: 5px 30px;
  top: 10px;
  left: 10px;
  border-radius: 10px;
  color: #FFFFFF;
}
.our-workers .wrapper .item img {
  width: 100%;
  object-fit: cover;
}
.our-workers .wrapper .item-1:before {
  content: "ДО";
  background: #006B94;
}
.our-workers .wrapper .item-2:before {
  content: "ПОСЛЕ";
  background: #00ADEF;
}

.about-us .wrapper .item {
  position: relative;
  background: url(/images/img/about-us-bg.jpg) center center/cover no-repeat;
  aspect-ratio: 16/9;
  margin: 0 auto;
  padding: 50px 50px;
  display: flex;
  align-items: center;
}
.about-us .wrapper .item img {
  max-width: 313px;
  width: 100%;
  aspect-ratio: 16/9;
  display: flex;
  align-items: center;
  margin: 0 auto;
}
.about-us .wrapper > p {
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #686868;
  margin-top: 20px;
}

.application .wrapper .items {
  display: flex;
  align-items: center;
}
.application .wrapper .items .item-2 {
  display: none;
}
.application .wrapper .items .item-1 {
  display: block;
  max-width: 593px;
  margin: 0 auto;
}
.application .wrapper .items .item-1 form label {
  width: 100%;
}
.application .wrapper .items .item-1 form label input {
  width: 100%;
  border: 3px solid #0F2A4A;
  border-radius: 8px;
  padding: 18px 0 18px 20px;
  margin: 10px 0 5px;
}
.application .wrapper .items .item-1 form button {
  background: #006B94;
  border-radius: 7px;
  color: #FFF;
  padding: 20px 50px;
  display: flex;
  margin: 0 auto;
}
.application .wrapper .items .item-1 form > p {
  color: #9E9E9E;
  font-weight: 400;
  font-size: 15px;
  line-height: 16px;
  max-width: 350px;
  margin: 5px auto 0 auto;
  text-align: center;
}

.map {
  background: url(/images/img/background-map.jpg) center center/cover no-repeat;
  padding: 0;
  position: relative;
  aspect-ratio: 16/9;
  max-height: 500px;
  width: 100%;
  display: flex;
  align-items: center;
}
.map .wrapper .items .item-1 img {
  width: 71px;
  height: 71px;
  display: block;
  margin: 0 auto;
}
.map .wrapper .items .item-1 > div {
  margin-top: 9px;
  text-align: center;
}
.map .wrapper .items .item-1 > div .open-map {
  margin-top: 5px;
  color: #00ADEF;
  cursor: pointer;
}
.map .wrapper .items .item-2 {
  display: none;
}
.map iframe {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
}
.map .d-none {
  display: none;
}

@media screen and (min-width: 766px) {
  .main {
    padding: 0;
  }
  .main .main-wrapper {
    padding: 100px 0 107px 40px;
  }
  .main .main-wrapper .header-button h1 {
    max-width: 80%;
    font-size: 45px;
    line-height: 56px;
    text-align: left;
    margin-left: 0;
  }
  .main .main-wrapper .header-button button {
    width: 304px;
    font-size: 24px;
    line-height: 36px;
    margin: 44px 0 0 0;
  }
  .services .wrapper .item {
    margin: 10px 6px 0 6px;
  }
  .about-us .wrapper {
    position: relative;
  }
  .about-us .wrapper .item {
    align-items: flex-start;
    max-height: 544px;
    width: 100%;
    padding-top: 20px;
  }
  .about-us .wrapper > p {
    position: absolute;
    text-align: center;
    color: #fff;
    padding: 0 3%;
    font-size: 17px;
    line-height: 19px;
    top: 42%;
  }
  .map .wrapper {
    width: 100%;
  }
  .map .wrapper .items {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .map .wrapper .items .item-1 > div p {
    font-size: 36px;
    line-height: 45px;
  }
  .map .wrapper .items .item-1 > div > div {
    margin-top: 11px;
    font-size: 36px;
    line-height: 45px;
  }
  .map .wrapper .items .item-2 {
    display: block;
    width: 50%;
  }
  .map .wrapper .items .item-2 img {
    aspect-ratio: 16/9;
    width: 100%;
  }
}
@media screen and (min-width: 900px) {
  .categories .wrapper .item {
    height: 104px;
    font-size: 24px;
    line-height: 30px;
  }
}
@media screen and (min-width: 1201px) {
  .main {
    display: flex;
    justify-content: center;
    min-height: 30%;
  }
  .main .main-wrapper {
    height: 487px;
    width: 60%;
  }
  .main:after {
    content: "";
    background: url(/images/img/main-avto.png) center center/cover no-repeat;
    margin-left: -100px;
    margin-top: -95px;
    width: 573px;
    height: 654px;
  }
  .categories .wrapper .header-different {
    min-width: 100%;
    text-align: left;
    margin-bottom: 80px;
    display: flex;
  }
  .categories .wrapper .header-different:after {
    content: "";
    background: url(/images/img/Road.svg);
    display: block;
    width: 1094px;
    height: 52px;
    margin-left: 25px;
  }
  .services .wrapper {
    max-width: 1236px;
  }
  .services .wrapper .item {
    margin: 12px 6px 0 6px;
    max-width: 400px;
  }
  .about-us .wrapper > p {
    font-size: 24px;
    line-height: 30px;
  }
  .application .wrapper .items {
    justify-content: space-between;
    align-items: flex-start;
  }
  .application .wrapper .items .item-1 {
    margin: 0;
  }
  .application .wrapper .items .item-1 form label {
    font-size: 24px;
  }
  .application .wrapper .items .item-1 form button {
    padding: 20px 100px;
  }
  .application .wrapper .items .item-2 {
    display: block;
    max-width: 459px;
  }
  .application .wrapper .items .item-2 h3 {
    font-weight: 700;
    font-size: 30px;
    line-height: 38px;
    color: #357397;
  }
  .application .wrapper .items .item-2 .contacts {
    margin-top: 56px;
  }
  .application .wrapper .items .item-2 .contacts div {
    display: flex;
    align-items: center;
  }
  .application .wrapper .items .item-2 .contacts div img {
    width: 60px;
    height: 60px;
  }
  .application .wrapper .items .item-2 .contacts div a {
    font-weight: 500;
    font-size: 32px;
    line-height: 40px;
    color: #525252;
  }
  .application .wrapper .items .item-2 .contacts div:last-child {
    margin-top: 25px;
  }
}
@media screen and (min-width: 1300px) {
  .main .main-wrapper {
    padding: 100px 0 107px 60px;
  }
}

/*# sourceMappingURL=home.css.map */
