/* Error: Expected expression.
 *    ,
 * 85 |                     color: #FFFGood news, and well to other Siri phone who is this is the best go straight over to 100
 *    |                                           ^^^
 *    '
 *   layout.sass 85:43  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Expected expression.\a    \2577 \a 85 \2502                      color: #FFFGood news, and well to other Siri phone who is this is the best go straight over to 100\a    \2502                                            ^^^\a    \2575 \a   layout.sass 85:43  root stylesheet";
}
