@{
	ViewData["Title"] = "Home Page";
}

@section Styles {
	<environment include="Development">
		<link rel="stylesheet" href="~/css/home.css" asp-append-version="true">
	</environment>
	<environment exclude="Development">
		<link rel="stylesheet" href="~/css/home-bundle.css" asp-append-version="true">
	</environment>
}

@section Scripts {
	<environment include="Development">
    	<script src="~/js/home.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
    	<script src="~/js/home-bundle.js" asp-append-version="true"></script>
    </environment>
}

<section class="main">
	<div class="main-wrapper">
		<div class="header-button">
			<h1>ремонт автомобилей <br> продажа запчастей</h1>
			<button class="m-trigger" data-modal-id="application">
				Оставить заявку
			</button>
		</div>
	</div>
</section>
<section id="categories" class="categories">
	<div class="wrapper">
		<div class="header-different">
			<h2 class="header">Категории</h2>
		</div>
		<a href="https://www.avito.ru/user/51e5d2b0926504dfbfdb3e87c1b5aa41/profile?src=sharing" class="item">
			Штатные Переходные рамки для магнитол
		</a>
		<a href="https://www.avito.ru/user/51e5d2b0926504dfbfdb3e87c1b5aa41/profile?src=sharing" class="item">
			Шумоизоляция
		</a>
		<a href="https://www.avito.ru/user/51e5d2b0926504dfbfdb3e87c1b5aa41/profile?src=sharing" class="item">
			Автосигнализации и доп. Оборудование Starline
		</a>
		<a href="https://www.avito.ru/user/51e5d2b0926504dfbfdb3e87c1b5aa41/profile?src=sharing" class="item">
			Камеры заднего вида
		</a>
		<a href="https://www.avito.ru/user/51e5d2b0926504dfbfdb3e87c1b5aa41/profile?src=sharing" class="item">
			Автозвук/акустика
		</a>
		<a href="https://www.avito.ru/user/51e5d2b0926504dfbfdb3e87c1b5aa41/profile?src=sharing" class="item">
			Головные устройства Teyes
		</a>
		<a href="https://www.avito.ru/user/51e5d2b0926504dfbfdb3e87c1b5aa41/profile?src=sharing" class="item">
			Переходные ISO разьемы для штатного подключения
		</a>
		<a href="https://www.avito.ru/user/51e5d2b0926504dfbfdb3e87c1b5aa41/profile?src=sharing" class="item">
			Штатные Антенные переходники
		</a>
		<a href="https://www.avito.ru/user/51e5d2b0926504dfbfdb3e87c1b5aa41/profile?src=sharing" class="item">
			Видеорегстираторы
		</a>
		<a href="https://www.avito.ru/user/51e5d2b0926504dfbfdb3e87c1b5aa41/profile?src=sharing" class="item">
			Парктроник
		</a>
	</div>
</section>
<section id="services" class="services">
	<h2 class="header">Услуги</h2>
	<div class="wrapper">
		<button class="item m-trigger" data-modal-id="application">
			<img src="/images/img/services1.png" alt="" title="">
			<p>Android магнитолы</p>
		</button>
		<button class="item m-trigger" data-modal-id="application">
			<img src="/images/img/services2.png" alt="" title="">
			<p>Парктроник</p>
		</button>
		<button class="item m-trigger" data-modal-id="application">
			<img src="/images/img/services3.png" alt="" title="">
			<p>Камера заднего вида</p>
		</button>
		<button class="item m-trigger" data-modal-id="application">
			<img src="/images/img/services4.png" alt="" title="">
			<p>Автосигнализации и доп.</p>
		</button>
		<button class="item m-trigger" data-modal-id="application">
			<img src="/images/img/services5.png" alt="" title="">
			<p>Автозвук</p>
		</button>
		<button class="item m-trigger" data-modal-id="application">
			<img src="/images/img/services6.png" alt="" title="">
			<p>Видеорегстираторов</p>
		</button>
	</div>
</section>
<section id="our-workers" class="our-workers">
	<h2 class="header">Наши Работы</h2>
	<div class="wrapper">
		<div class="item item-1">
			<img src="/images/img/our-workers-1-1.jpg" alt="" title="">
		</div>
		<div class="item item-2">
			<img src="/images/img/our-workers-1-2.jpg" alt="" title="">
		</div>
		<div class="item item-1">
			<img src="/images/img/our-workers-2-1.jpg" alt="" title="">
		</div>
		<div class="item item-2">
			<img src="/images/img/our-workers-2-2.jpg" alt="" title="">
		</div>
	</div>
</section>
<section id="about-us" class="about-us">
	<h2 class="header">О Нас</h2>
	<div class="wrapper">
		<div class="item">
			<img src="/images/icon/logo-w.svg" alt="" title="">
		</div>
		<p>
			Приветствуем Вас 🤝 Наша организация👨 ‍💻 занимается продажей, установкой, подбором и настройкой мультимедиа Teyes Android 🖥️, аудиосистемами🔊, камерами заднего, переднего вида 🎥, автосигнализациями Starline 🚨, видеорегистраторами. 📹
			У нас огромный опыт установки вышеуказанного дополнительного оборудования! 🦾
			Сертифицированный установочный центр, светлый бокс, профессионалы своего дела, мы на рынке более 15 лет. 📶
			Поможем сделать вашу жизнь комфортнее 🚘.
		</p>
	</div>
</section>
<section class="application">
	<h2 class="header">Оставить заявку</h2>
	<div class="wrapper">
		<div class="items">
			<div class="item-1">
				<form class="application-form" action="#" data-info="Главная - Первый экран">
					<label>
						Имя
						<input type="tel" name="phone" placeholder="+7 ( _ _ _ ) _ _ _ - _ _ - _ _">
					</label>
					<label>
						Телефон
						<input type="text" name="name" placeholder="Имя">
					</label>
					<div class="validation"></div>
					<button>Оставить</button>
					<p>
						Нажимая на кнопку Вы даете согласие на обработку персональных данных
					</p>
				</form>
			</div>
			<div class="item-2">
				<h3>Как еще обратиться за помощью?</h3>
				<div class="contacts">
					<div>
						<img src="/images/icon/phone2.svg" alt="" title="">
						<a href="tel:+79281981155">+7 928 198-11-55</a>
					</div>
					<div>
						<img src="/images/icon/email.svg" alt="" title="">
						<a href="mailto:tsk_teplo@mail.ru">tsk_teplo@mail.ru</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="map">
	<div class="wrapper">
		<div class="items">
			<div class="item-1">
				<img src="/images/icon/map-dot.svg" alt="" title="">
				<div>
					<p>ул. Авиационная, 34</p>
					<div class="open-map">
						открыть карту
					</div>
				</div>
			</div>
			<div class="item-2">
				<img src="/images/img/map-avto.png" alt="" title="">
			</div>
		</div>
	</div>
	<iframe class="d-none" src="https://yandex.ru/map-widget/v1/?um=constructor%3A8de85ed96705e9505fa5ad354deef7a66d11092d8c7c5ae3ed810a471a7e1dc3&amp;source=constructor" width="100%" height="400" frameborder="0"></iframe>
</section>

@* <button class="m-trigger" data-modal-id="application"> *@
@* 	Оставить заявку *@
@* </button> *@
@* <form class="review-form" novalidate> *@
@* 	<h2>Оставьте отзыв</h2> *@
@* 	<div> *@
@* 		<input placeholder="Введите имя" type="text" name="name"> *@
@* 	</div> *@
@* 	<div> *@
@* 		<input placeholder="Введите номер" type="tel" name="phone"> *@
@* 	</div> *@
@* 	<div> *@
@* 		<input placeholder="Введите email" type="email" name="email"> *@
@* 	</div> *@
@* 	<div> *@
@* 		<input placeholder="Введите текст отзыва" type="text" name="text"> *@
@* 	</div> *@
@* 	<div> *@
@* 		<input placeholder="Введите оценку от 0 до 9" type="number" name="rate" value="0"> *@
@* 	</div> *@
@* 	<p>*Оставляя отзыв, Вы потверждаете согласие согласие на обработку введенных персональных данных</p> *@
@* 	<div class="validation"></div> *@
@* 	<button type="submit">Оставить отзыв</button> *@
@* </form> *@
@* *@
@* <br> *@
@* *@
@* <p>Отзывы</p> *@
@* <div class="reviews-content"> *@
@* </div> *@
@* *@
@* <br> *@
